{{#partial "content"}}
    <div class="full">
        <div class="card mx-auto" id="cardForm">
            <div class="card-body">
                <h2>ADD A SQUAD TO A HERO</h2>
                <h5> {{hero.heroName}}</h5>
                Choose the squad below:-
                <form action="/assignSquad/{{hero.id}}" method="post">
                    <div class="form-group">
                        <select class="form-control" name="squadId" required>
                            {{#each squads}}
                                <option value={{id}} >{{squadName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}