{{#partial "content"}}
    <div>
        <h1>Welcome to Hero Squad</h1>
        <div>
            <a href="/squad">
                <button class="btn btn-danger">Squads</button>
            </a>
            <a href="/hero">
                <button class="btn btn-danger">Heros</button>
            </a>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}