{{#partial "content"}}
    <div class="card">
        <form action="/post/new/squad" method="post">
            <div class="form-group">
                <label for="squadName">Squad Name</label>
                <input type="text" class="form-control" name="squadName" id="squadName" required>
            </div>
            <div class="form-group">
                <label for="squadCause">Squad Cause</label>
                <input type="text" class="form-control" id="squadCause" name="squadCause" required>
            </div>
            <div class="form-group">
                <label for="squadCause">Enter size of members</label>
                <input type="number" class="form-control" id="squadMaxSize" name="maxSize" required>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

{{/partial}}{{>layout.hbs}}