{{#partial "content"}}
    <div class="full">
        <div class="jumbotron">
            <h2>Saved Successfully</h2>
            <a href="/">Click here to view results</a>
        </div>
    </div>
{{/partial}}{{>layout.hbs}}